<section class="top-section">
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row mar-b-10">
                <div class="col-md-6 offset-md-3">
                    <img src="../../../assets/images/logo.png" alt="Guwha" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-group">
                        <div class="card p-2">
                            <form class="form" name="form">
                                <div class="card-block">
                                    <h1>Forgot Password</h1>
                                    <br>
                                    <p class="text-muted">
                                        <h6>Enter Your Email Address</h6></p>
                                    <br>
                                    <div class="form-group">
                                        <div class="input-group mb-1">
                                            <span class="input-group-addon"><img src="assets/images/avatars/email.svg" class="img-fluid">
                                                   </span>
                                            <input type="email" class="form-control" placeholder="Email" ng-focus="$ctrl.emailExists=''" ng-model="$ctrl.emailId" required mongoose-error>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="row">
                                            <button type="submit" class="btn btn-primary offset-xs-8" ng-click="$ctrl.verifyEmail()">Ok</button>
                                            <button type="submit" class="btn btn-primary offset-xs-1"><a style="color: white" href="/login">cancel</a></button>
                                        </div>
                                        <div style="color: {{$ctrl.color}}">{{$ctrl.emailExists}}</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
