<div id="sticker">
    <div class="left-navigation">
        <ul>
            <li><a href="" ng-click="$ctrl.changePage('billpayments')">Bill Payments</a></li>
            <li><a href="" ng-click="$ctrl.changePage('financialaudits')">Financial Audits</a></li>
            <li><a href="" ng-click="$ctrl.changePage('securitymanagement')"> Security Management</a></li>
            <li><a href="" ng-click="$ctrl.changePage('smartmart')">Smart Mart</a></li>
            <li><a href="" ng-click="$ctrl.changePage('propertymanagement')">Property Management</a></li>
            <li><a href="" ng-click="$ctrl.changePage('amenitiesbooking')">Amenities Booking</a></li>
            <li><a href="" ng-click="$ctrl.changePage('servicesbooking')">Services Booking</a></li>
            <li><a href="" ng-click="$ctrl.changePage('discussionforums')">Discussion Forums</a></li>
            <li><a href="#">Help Desk</a></li>
            <li><a href="#">Classifieds</a></li>
        </ul>
    </div>
</div>