<div class="top-section">
    <div class="socilaicons">
        <ul>
            <li><a href="http://www.facebook.com/guwha"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/guwha"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/guwha"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
            <li><a href="https://plus.google.com/"><i aria-hidden="true" class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>
    <div class="contactinfo pull-right">
        <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+ 040 000 000 00 </li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@guwha.com">support@guwha.com </a></li>
            <li><a href="#" class="app">Download Guwha App</a></li>
            <li class="aappicons">
                <a href="#" class="colo1"> <i class="fa fa-android" aria-hidden="true"></i></a>
            </li>
            <li class="aappicons">
                <a href="#" class="colo2"> <i class="fa fa-apple" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="top-btn pull-right">
        <a class="btn btn-primary1 mar-l-20" href="/login">login</a>
        <a class="btn btn-primary2 pull-right mar-l-20" href="/signup">Register Now</a>
    </div>
</div>