
<div class="footer" ng-hide="footer.isLoggedIn()">
  <div class="container">
    <div class="row wow fadeInDown">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>Contact Us</h1></div>
        <div class="map"><img src="assets/images/map.jpg" width="264" height="174" alt="map" class="img-responsive"></div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="address pad-t-15">
          <ul>
            <li><i class="fa fa-map-marker fa-lg"> </i>#540/567, 3rd & 4th Floor, Inner Ring Road,VGS Layout, 
            Ejipura, Bangalore, Karnataka - 560047</li>
            <li><i class="fa fa-phone fa-lg"> </i>Phone: 08041303456/08028461599/7899740403</li>
            <li><i class="fa fa-envelope fa-lg"></i>Email: <a href="mailto:support@guwha.com">support@guwha.com</a></li>
            <li><i class="fa fa-dribbble fa-lg"></i><a href="http://www.guwha.com">www.guwha.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>Newletter</h1></div>
        <p>Subscribe to our newsletter to recive news updates. free stuff and new releases by email.wen.</p>
        <div class="subscribe">
          <input name="" type="text" value="" placeholder="Enter your email address">
          <input name="Subscribe" type="submit" value="Subscribe" class="pull-right">
        </div>

<div class="fsocial">

        <ul>
          <li><a href="http://www.facebook.com/guwha"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/guwha"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/guwha"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
            <li><a href="https://plus.google.com/"><i aria-hidden="true" class="fa fa-youtube-play"></i></a></li>
        </ul>

</div>


      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>information</h1></div>
        <ul class="quicklinks pad-l-30">
          <li><a href="">Sitemap</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Specials</a></li>
          <li><a href="">Live chat support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <p> © 2016 guwha.com. All Rights Reserved.</p>
  
  </footer>
</div>