
<section class="top-section pad-b-60">
 <div class="container">
 <div class="top_line">
  <div class="container">
    <div class="row">
    
     <div class="col-md-5">
        <div class="social_icons"> 
        <a href="#"> <i class="fa fa-vk"></i> </a> 
        <a class="soc_fb" href="#"> <i class="fa fa-facebook"></i> </a> 
        <a href="#"> <i class="fa fa-instagram"></i> </a> 
        <a href="#"> <i class="fa fa-twitter"></i> </a> 
        <a href="#"> <i class="fa fa-google-plus"></i> </a> 
        </div>
      </div>
    
      <div class="col-md-7 contact">
      	<ul>
            <li class="p_top_header"> <i class="fa fa-phone"></i>  + 040 000 000 00  </li>
            <li class="p_top_header"> <i class="icon-envelope icons"></i>  <a href="mailto:support@guwha.com">support@guwha.com</a>  </li>
            <li><a href="#" class="app">Download Guwha App <i class="fa fa-android icon1" aria-hidden="true"></i>
            <i class="fa fa-apple icon2" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      
      <div class="col-md-4 pull-right loginbtn">
      		<a class="btn btn-triumph" href="/login">login</a>
          <a class="btn btn-success" href="/signup"> Registration</a>
      </div>
      
    </div>
  </div>
</div>

 
 	<div class="logo">
        <div class="col-md-8 offset-xs-4">
            <a href="index.html"><img src="assets/images/logo.png" alt="logo" class="img-fluid"></a>
        </div>
         <div class="clearfix"></div>
         <h1 class="pad-t-30">Smart Apartments. Smarter Communities.</h1>
    </div>
    
     <div class="home-serach">
    	<div class="col-md-10 offset-xs-1">
        <form role="form" class="input-group">
         <input class="form-control input-sty"  ng-keyup="$ctrl.suggestion(searchText)" ng-model="$ctrl.search.result" uib-typeahead="result for result in $ctrl.search.options" typeahead-on-select="$ctrl.selectedBlocks($ctrl.search.result,$event)" id="" placeholder="Search for your Apartment / Property and Join" type="text" typeahead-min-length="3" required>
         <span class="input-group-btn">
             <button type="submit" class="btn btn-default join-btn" ng-click="$ctrl.joinCommunity()">Join</button>
         </span>
        </form>
    	</div>
    </div>
    
    <div class="col-md-9 offset-xs-3 mar-t-50">
        <button type="submit" class="btn demo-btn">Request A Demo</button>
        <button type="submit" class="btn btn-default demo-btn">Get Started now</button>
	</div>

 </div> 	

</section>



<section class="searvices-section">

	<div class="container wow fadeInDown box" data-animate="bounceIn">
    
       <div class="col-md-8 offset-xs-2">
		<div class="title">
          <h1 class="pad-b-10">Our Services</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. Sed faucibus eleifend metus vel rutrum</p>
        </div>
        </div>



        <div class="col-md-12">
            
           <ul class="featured plus-box grid-3 equal-height-row mar-t-30">
           
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Property Management </h2>
                        <div class="icon"> <i class="fa fa-building-o" aria-hidden="true"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                  </li>
                  
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Smart Mart</h2>
                        <div class="icon"> <i class="icon-basket icons"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                    <!-- /.featured-item -->
                  </li>
                  
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Security Management</h2>
                        <div class="icon"> <i class="icon-lock icons"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                    <!-- /.featured-item -->
                  </li>
                  
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Financial Audits </h2>
                        <div class="icon"> <i class="icon-calculator icons"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                    <!-- /.featured-item -->
                  </li>
                  
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Mobile Bill Payments</h2>
                        <div class="icon"> <i class="icon-screen-smartphone icons"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                    <!-- /.featured-item -->
                  </li>
                  
                  <li>
                    <div class="featured-item equal-height-column">
                      <div class="desc">
                        <h2>Bill Payments</h2>
                        <div class="icon"> <i class="icon-credit-card icons"></i> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit nisi a dictum tristique. Nullam urna metus, vestibulum ac sodales et, luctus ut tellus. </p>
                        <a href="#">READMORE</a> </div>
                    </div>
                    <!-- /.featured-item -->
                  </li>
                </ul>

        </div>


</div>

</section>




<section class="module parallax parallax-1">
	<div class="container bookings">
    
    
    	<div class="col-md-3 wow fadeInDown box" data-animate="bounceIn">
        	<div class="row">
            	<img src="assets/images/1.jpg" alt=""class="img-fluid">
                <div class="content1">
                <h2> Discussion Forums</h2>
               <p> Horem ipsum dolor sit amet, consectetur ddipiscing elit. Ut blandit nisi a dictum tristique. Mullam urna metus, vestibulum ac sodales ef, Huctus ut tellus. </p>
               	  <a href="#">READMORE</a>
                </div>
        	</div>
        </div>
        
        
         <div class="col-md-3 wow fadeInDown box" data-animate="bounceIn">
        	<div class="row">
                <div class="content2">
                <h2>  Help Desk</h2>
               <p>Gorem ipsum dolor sit amet, consectetur ddipiscing elit. Ut blandit nisi a dictum tristique. Mullam urna metus, vestibulum ac sodales ef, Huctus ut tellus. </p>
               	  <a href="#">READMORE</a>
                </div>
                <img src="assets/images/3.jpg" alt="" class="img-fluid">
        	</div>
        </div>

    	<div class="col-md-3 wow fadeInDown box" data-animate="bounceIn">
        	<div class="row">
            	<img src="assets/images/2.jpg" alt="" class=" img-fluid">
                <div class="content1">
                <h2> Service Booking</h2>
               <p> Horem ipsum dolor sit amet, consectetur ddipiscing elit. Ut blandit nisi a dictum tristique. Mullam urna metus, vestibulum ac sodales ef, Huctus ut tellus. </p>
               	  <a href="#">READMORE</a>
                </div>
        	</div>
        </div>

         <div class="col-md-3 wow fadeInDown box" data-animate="bounceIn">
        	<div class="row">
                <div class="content2">
                <h2> Amenities Booking </h2>
               <p>Borem ipsum dolor sit amet, consectetur ddipiscing elit. Ut blandit nisi a dictum tristique. Mullam urna metus, vestibulum ac sodales ef, Huctus ut tellus. </p>
               	  <a href="#">READMORE</a>
                </div>
                <img src="assets/images/4.jpg" alt="" class=" img-fluid">
        	</div>
        </div>
        
        
        
        <div class="col-md-6 offset-xs-3 wow fadeInDown box" data-animate="bounceOut">
        	<div class="row">
            
                <div class="content2 col-md-6">
                <h2> Classifieds </h2>
               <p>Borem ipsum dolor sit amet, consectetur ddipiscing elit. Ut blandit nisi a dictum tristique. Mullam urna metus, vestibulum ac sodales ef, Huctus ut tellus. </p>
               	  <a href="#">READMORE</a>
                </div>
                
               <div class="col-md-6">
                    <div class="row">
                       <img src="assets/images/5.jpg" alt="" class=" img-fluid">
                     </div>
               </div>
                
        	</div>
        </div>
        
    
	</div>
</section>



<section class="testimonials wow fadeInDown box" data-animate="bounceIn">
	<div class="container">
    
        <div class="title"><h1>Testimonials</h1><span>They are happy to work with us</span></div>
        
        
        
        
        <div id="testimonial_carousel" class="carousel slide testimonial_carousel_fade testimonial_carousel_wrapper col-md-12" data-ride="carousel" 
        data-interval="2000" data-pause="hover">

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">

				<!--========= First slide =========-->
				<div class="item active">
					<div class="testimonial_carousel_caption">
						<img src="assets/images/team_01.png" alt="Testimonials">
						<h3>jackson logan</h3>
						<a href="#">web developer</a>
						<p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, 
consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed 
erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus 
massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo 
tempor.</p>
					</div>
				</div>

				<!--========= Second slide =========-->
				<div class="item">
					<div class="testimonial_carousel_caption">
						<img src="assets/images/team_02.png" alt="Testimonials">
						<h3>sophia mia</h3>
						<a href="#">web designer</a>
						<p><i class="fa fa-quote-left"></i>Nunc at velit quis lectus 
nonummy eleifend. Curabitur eros. Aenean ligula dolor, gravida auctor, 
auctor et, suscipit in, erat. Sed malesuada, enim ut congue pharetra, 
massa elit convallis pede, ornare scelerisque libero neque ut neque. In 
at libero.</p>
					</div>
				</div>

				<!--========= Third slide =========-->
				<div class="item">
					<div class="testimonial_carousel_caption">
						<img src="assets/images/team_03.png" alt="Testimonials">
						<h3>michael elijah</h3>
						<a href="#">seo analyst</a>
						<p><i class="fa fa-quote-left"></i>Nulla mauris odio, vehicula in,
 condimentum sit amet, tempus id, metus. Donec at nisi sit amet felis 
blandit posuere. Aliquam erat volutpat. Cras lobortis orci in quam 
porttitor cursus. Aenean dignissim. Curabitur facilisis sem at nisi 
laoreet placerat ac.</p>
					</div>
				</div>

				<!--========= Fourth slide =========-->
				<div class="item">
					<div class="testimonial_carousel_caption">
						<img src="assets/images/team_04.png" alt="Testimonials">
						<h3>hannah scarlett</h3>
						<a href="#">media analyst</a>
						<p><i class="fa fa-quote-left"></i>Fusce auctor, metus eu 
ultricies vulputate, sapien nibh faucibus ligula, eget sollicitudin 
augue risus et dolor. Aenean pellentesque, tortor in cursus mattis, ante
 diam malesuada ligula, ac vestibulum neque turpis ut enim. Cras ornare.</p>
					</div>
				</div>

			</div>

			<!--========= Indicators =========-->
			<ol class="carousel-indicators testimonial_carousel_indicators">
				<li data-target="#testimonial_carousel" data-slide-to="0" class=""></li>
				<li class="" data-target="#testimonial_carousel" data-slide-to="1"></li>
				<li class="" data-target="#testimonial_carousel" data-slide-to="2"></li>
				<li class="active" data-target="#testimonial_carousel" data-slide-to="3"></li>
			</ol>

		</div>
        
	</div>
</section>





<section class="footer">
  <div class="container">
    <div class="row wow fadeInDown">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>Contact Us</h1></div>
        <div class="map"><img src="assets/images/map.jpg" width="264" height="174" alt="map" class="img-fluid"></div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="address pad-t-15">
          <ul>
            <li class="text-xs-center"><i class="fa fa-map-marker fa-lg"> </i>
            #540/567, 3rd & 4th Floor,Inner Ring Road, VGS Layout, Ejipura,Bangalore, Karnataka - 560047</li>
            <li><i class="fa fa-phone fa-lg"> </i>Phone: 08041303456,
08028461599</li>
            <li><i class="fa fa-envelope fa-lg"></i>Email: <a href="mailto:info@guwha.com">info@guwha.com</a></li>
            <li><i class="fa fa-dribbble fa-lg"></i><a href="">www.guwha.com</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>Newletter</h1></div>
        <p>Subscribe to our newsletter to recive news updates. free stuff and new releases by email.wen.</p>
        <div class="subscribe">
          <input name="" type="text" value="" placeholder="Enter your email address" style="width:249px;">
          <input name="Subscribe" type="submit" value="Subscribe">
        </div>
        
        <div class="social_icons"> <a href="#"> <i class="fa fa-vk"></i> </a> <a class="soc_fb" href="#"> <i class="fa fa-facebook"></i> </a> <a href="#"> <i class="fa fa-instagram"></i> </a> <a href="#"> <i class="fa fa-twitter"></i> </a> <a href="#"> <i class="fa fa-google-plus"></i> </a> </div>

      </div>
      
      
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <div class="title"><h1>information</h1></div>
        <ul class="quicklinks pad-l-30">
          <li><a href="about.html">about us</a></li>
          <li><a href="">Sitemap</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Specials</a></li>
          <li><a href="">Live chat support</a></li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <p>© 2016 guwha.com All Rights Reserved.</p>
  </footer>
</section>
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) { 
        }
      }
    );
    wow.init();
//    document.getElementById('moar').onclick = function() {
//      var section = document.createElement('section');
//      section.className = 'section--purple wow fadeInDown';
//      this.parentNode.insertBefore(section, this);
//    };
  </script>

