<div class="main pad-50">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">dashboard</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-medium">
                        <div class="card-block">
                            <div class="card-header pad-t-0">
                                <div class="col-sm-12 pad-t-0">
                                    <h5 class="card-title mb-10">{{$ctrl.option}}</h5>
                                </div>
                                <div class="col-sm-6 text-muted font-weight-bold pad-0" style="float: right;font-size:12px;">
                                    <div ng-class="{linkcolor: $index == $ctrl.choosed}" style="float: right;margin-left: 7px" ng-repeat="option in $ctrl.expenseArray" ng-click="$ctrl.expensesCall(option,$index)">
                                        {{option}}</div>
                                </div>
                                <div class="col-sm-7 text-xs-left">
                                    <div class="small text-muted">{{$ctrl.monthName}}-{{$ctrl.date}} - {{$ctrl.monthName}}-{{$ctrl.endDate}}</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <span class="text-xs-center" ng-show='$ctrl.totalCostArray.length == 0' style="padding: 70px; color: #22D1E4">
                                        <b>  No Expenses </b>
                            </span>
                                <div ng-if='$ctrl.totalCostArray.length != 0' class="chart-wrapper mar-t-30">
                                    <canvas id="monthlyExpensesChart" class="chart chart-pie" chart-data="$ctrl.totalCostArray" chart-labels="$ctrl.CategoryNamesArray" chart-options="$ctrl.options" chart-legend="true" height="240" chart-colors="$ctrl.colors">
                                    </canvas>
                                </div>
                            </div>
                            <div class="col-sm-4" style="height:180px;display: flex;flex-direction: column;justify-content: center;">
                                <div class="pie-legend-item">
                                    <ul>
                                        <li class="legend-item-box" ng-repeat="item in $ctrl.legend" ng-style="::{'color': item.color}"><span class="legend-item-label text-muted small">{{::item.title}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-medium">
                        <div class="card-block">
                            <div class="card-header pad-t-0">
                                <div class="col-sm-6 pad-t-0">
                                    <h5 class="card-title mb-10">OVERALL EXPENSES</h5>
                                </div>
                                <div class="col-sm-6 text-muted font-weight-bold pad-0" style="float: right;font-size:12px;">
                                    <div ng-class="{linkcolor: $index == $ctrl.selected}" style="float: right;margin-left: 7px" ng-repeat="part in $ctrl.section" ng-click="$ctrl.expensesGraph(part,$index)">
                                        {{part}}</div>
                                </div>
                            </div>
                            <div class="chart-wrapper pad-l-10 mar-t-30">
                                <canvas id="bar" class="chart chart-bar" ng-show="$ctrl.monthlyGroupGrph" chart-data="$ctrl.totalAmountArray" chart-labels="$ctrl.monthNameForGroup" chart-options="options" height="140" chart-colors="$ctrl.lineColor">
                                </canvas>
                                <canvas class="chart chart-bar" ng-show="$ctrl.yearlygroupgraph" chart-data="$ctrl.amountYearly" chart-labels="$ctrl.yearArray" height="140" chart-colors="$ctrl.colors"></canvas>
                                <canvas class="chart chart-bar" ng-show="$ctrl.sixmonthsgroupgraph" chart-data="$ctrl.sixMonthAmount" chart-labels="$ctrl.sixmonthName" height="140" chart-colors="$ctrl.colors"></canvas>
                            </div>
                            <h6 class="text-xs-center">Overall Expense - {{$ctrl.selectedCat}} wise
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-medium mar-t-10">
                        <div class="card-block">
                            <div class="card-block-header">
                                <h5 class="card-title mb-10">Expense Details</h5>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/expense1.svg" class="img-fluid"></span>
                                        <select ng-if="$ctrl.selectedCategory != 'Others'" ng-change="$ctrl.selectedCategoryInfo($ctrl.selectedCategory)" type="text" class="form-control" ng-model="$ctrl.selectedCategory" ng-options="result for result in $ctrl.categoryList" required>
                                            <option value="">--Select Category--</option>
                                        </select>
                                        <select ng-if="$ctrl.selectedCategory == 'Others'" ng-change="$ctrl.selectedCategoryInfo($ctrl.selectedCategory)" type="text" class="form-control" ng-model="$ctrl.selectedCategory" ng-options="result for result in $ctrl.categoryList" required>
                                            <option value="">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/expense.svg" class="img-fluid"></span>
                                        <input type="text" name="expensesName" placeholder="Expense Name" class="form-control" ng-model="$ctrl.expensesName" required mongoose-error>
                                    </div>
                                    <span style="color:red" ng-show="form.expensesName.$touched && form.expensesName.$invalid"></span>
                                    <span class="error" ng-show="form.expensesName.$error.required">Expenses is required</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/date.svg" class="img-fluid"></span>
                                        <datepicker date-format="dd MMM yyyy">
                                            <input type="text" placeholder="Expenses Date" class="form-control" ng-model="$ctrl.Date" required mongoose-error>
                                        </datepicker>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/amount.svg" class="img-fluid"></span>
                                        <input type="number" class="form-control" placeholder="Amount" ng-model="$ctrl.amount" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/info.svg" class="img-fluid"></span>
                                        <select type="text" class="form-control" ng-model="$ctrl.expensesStatus" ng-options="result for result in $ctrl.expensePaidStatus" required>
                                            <option value="">--Select Status--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><img src="assets/images/avatars/comments.svg" class="img-fluid"></span>
                                        <textarea class="form-control" placeholder="Enter Your Comments" ng-model="$ctrl.comment" required mongoose-error></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" ng-click="$ctrl.expenseSave()">UPDATE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-medium mar-t-10">
                        <div class="card-block">
                            <h5 class="card-title mb-10">LIST OF PREVIOUS EXPENSES</h5>
                            <div infinite-scroll='$ctrl.scroll()'>
                                <table class="table table-hover mb-0 hidden-sm-down">
                                    <thead>
                                        <tr>
                                            <th class="text-xs-left">Name Of The Expense</th>
                                            <th class="text-xs-center"> Amount</th>
                                            <th class="text-xs-left">Status</th>
                                            <th class="text-xs-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="expensesShowTable in $ctrl.newExensesShow">
                                            <td class="text-xs-left">{{expensesShowTable.expenseName}}</td>
                                            <td class="text-xs-center">{{expensesShowTable.expenseAmount}}</td>
                                            <td class="text-xs-left">{{expensesShowTable.status}}</td>
                                            <td class="text-xs-center"><a href="#" data-toggle="modal" data-target="#myPendingExpenses" ng-click="$ctrl.pendingExpenses()" ng-show="'{{expensesShowTable.status}}' == 'Pending'">PayNow</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert alert-success" ng-show="$ctrl.showAlert" role="alert">
                                <strong>Congrats</strong> Successfully saved your expense
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-big">
                        <div class="card-block">
                            <div class="col-sm-6">
                                <h5 class="card-title mb-10">IN & OUT VISITORS DETAILED REPORT</h5>
                            </div>
                            <div class="text-muted small text-uppercase font-weight-bold" style="float: right;">
                                <div ng-class="{linkcolor: $index == $ctrl.select}" style="float: left;padding: 8px" ng-repeat="day in $ctrl.days" ng-click="$ctrl.visitorGraph(day,$index)">
                                    {{day}}</div>
                            </div>
                            <br>
                            <br>
                            <table class="table table-hover" ng-if="$ctrl.dailyVisitors && $ctrl.visitorslist.length>0">
                                <thead>
                                    <tr>
                                        <th class="text-xs-left">Name of the Visitor</th>
                                        <th class="text-xs-left">Flat No</th>
                                        <th class="text-xs-center">Visitors</th>
                                        <th class="text-xs-center"> In Time </th>
                                        <th class="text-xs-center">Out Time</th>
                                        <th class="text-xs-left">Purpose</th>
                                        <th class="text-xs-center"> Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="user in $ctrl.visitorslist|itemsPerPage:5">
                                        <td class="text-xs-left">
                                            <div><img ng-src="assets/images/avatar.png" width="30px;" class="img-avatar" style="color:#22D1E4;"><span class="pad-l-10">{{ user.name }}</span></div>
                                        </td>
                                        <td class="text-xs-left">
                                            {{user.blockName}} - {{user.flatNo}}
                                        </td>
                                        <td class="text-xs-center">
                                            {{user.alongWith}}
                                        </td>
                                        <td class="text-xs-center">
                                            {{user.inTime|date:'dd/MM/yyyy @ h:mma'}}
                                        </td>
                                        <td class="text-xs-center">
                                            {{ user.outTime|date:'dd/MM/yyyy @ h:mma' }}
                                        </td>
                                        <td class="text-xs-left">
                                            {{ user.purpose }}
                                        </td>
                                        <td class="text-xs-center">
                                            <div ng-if='user.status=="active"'>
                                                <button ng-disabled="true" style="color:white; background-color: #22D1E4; border-radius: 20px; width: 80px">{{user.status}}</button>
                                            </div>
                                            <div ng-if='user.status=="away"'>
                                                <button ng-disabled="true" style="color:white; background-color: #FF7694; border-radius: 20px; width: 80px">{{user.status}}</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-xs-center" ng-if="$ctrl.dailyVisitors && $ctrl.visitorslist.length ==0" style="padding: 70px; color: #22D1E4">
                                <b>No Visitors for Today</b>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="bar" class="chart chart-bar" ng-if="$ctrl.monthlyVisitors" chart-data="$ctrl.totalVisitorsArray" chart-labels="$ctrl.namesMonthArray" chart-options="$ctrl.barOptions" height="150" chart-colors="$ctrl.lineColor">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
