<div class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Decline Communities</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title mb-10">Communites Details</h5>
                        <div class="small text-muted"></div>
                        <hr class="mb-2">

                        <table class="table table-hover mb-0 hidden-sm-down">
                        


                            <div style="color: red">{{$ctrl.communityNames}}</div>
                            <thead>
                                <tr>
                                    <th class="text-xs-center">#</th>
                                    <th class="text-xs-left">Community Name</th>
                                    <th class="text-xs-left">Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="communityname in $ctrl.comunitynames">
                                    <th class="text-xs-center" scope="row">{{ $index + 1 }}</th>
                                    <td class="text-xs-left">{{communityname.CommunityInfo[0].communityName}}</td>
                                    <td class="text-xs-left">
                                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="$ctrl.serviceTypeRequest()">ServiceRequest</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- animated fadeIn -->
        </div>
        <!-- container-fluid -->
    </div>
    <div ng-include="'components/common/bottom.html'"> </div>
